allure-pytest
beautifulsoup4
ddt
ipython
lxml
openpyxl
pymongo
PyMySQL
pytest
pytest-base-url
pytest-forked
pytest-html
pytest-metadata
pytest-ordering
pytest-rerunfailures
pytest-xdist
PyYAML
redis
requests
selenium
Sphinx
virtualenv